ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
DOFBOT_SERIAL_DEVICE=/dev/ttyUSB0
DOFBOT_CAMERA_DEVICE=/dev/video0
DOFBOT_CAMERA_WIDTH=640
DOFBOT_CAMERA_HEIGHT=480
DOFBOT_CAMERA_FPS=15
ENABLE_FACE_DETECTION=1
ENABLE_FACE_MESH=0
ENABLE_POSE=0
ENABLE_SPEECH_CONTROLLER=0
DOFBOT_ARM_LIB_DIR=/opt/ros/overlay_ws/third_party/Arm_Lib
ENABLE_LLM_CONTROLLER=0
DOFBOT_CONTROL_MODE=GUI
DOFBOT_STRICT_SAFETY=1
DOFBOT_COMMAND_RATE_LIMIT_HZ=8.0
DOFBOT_LLM_STALE_TIMEOUT_S=2.0
DOFBOT_MANUAL_OVERRIDE_WINDOW_S=1.5
DOFBOT_LLM_CONFIG_PATH=/opt/ros/overlay_ws/config/llm_controller.json
DOFBOT_LLM_PROVIDER=ollama
DOFBOT_LLM_ENDPOINT=
DOFBOT_LLM_API_TOKEN=
DOFBOT_OLLAMA_BASE_URL=http://127.0.0.1:11434
DOFBOT_OLLAMA_MODEL=llama3.1:8b
DOFBOT_LLM_SYSTEM_PROMPT=
DOFBOT_LLM_LOOP_PERIOD_S=0.15
DOFBOT_LLM_REQUEST_TIMEOUT_S=20.0
DOFBOT_LLM_REQUEST_RETRIES=3
DOFBOT_LLM_RETRY_BACKOFF_S=1.0
DOFBOT_LLM_FALLBACK_ON_ERROR=1
DOFBOT_VOICE_OUTPUT_ENABLED=0
DOFBOT_VOICE_OUTPUT_VOICE=
DOFBOT_AUDIO_DEVICE=/dev/snd
DOFBOT_SPEECH_DEVICE=HD-3000
# Examples: "HD-3000", "USB Audio", "4" (PortAudio index), or "4,0" (ALSA-like hint)
DOFBOT_VOSK_MODEL_DIR=/opt/ros/overlay_ws/models/vosk-model-small-de-zamia-0.3
DOFBOT_SPEECH_LANGUAGE=de
DOFBOT_WAKE_WORD=martin
DOFBOT_SPEECH_SAMPLE_RATE=16000
DOFBOT_SPEECH_BLOCKSIZE=4000
DOFBOT_SPEECH_TOPIC=roboarm/speech_input
DOFBOT_SPEECH_FLUSH_SILENCE_S=0.8
DOFBOT_WAKE_WORD_TIMEOUT_S=4.0
